.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainSection {
  height: 80vh;
  background-color: rgb(42, 47, 77);
  display: flex;
  justify-content: center;
}

#map {
  width: 60vw;
  background-color: white;
  height: 90%;
  margin-top: 2em;
}
